
*.pyc

model/wiki\.simple\.bin

model/wiki\.simple\.vec

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/text-evaluator\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

venv/Lib/site-packages/dateutil/

venv/Lib/site-packages/

venv/Scripts/

venv/pyvenv\.cfg
